{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mb-3">Poll Questions</h1>
    {% if not polls %}
        <p>No polls available</p>
    {% endif %}
    {% for poll in polls %}
        <div class="card-mb-3">
            <div class="card-body">
                <p class="lead"><b>Title:</b> {{ poll.title }}</p>
                <p class="lead">Ends on {{ poll.end_date }}</p>
                <p class="lead"><b>Description:</b> {{ poll.description }}</p>
                <a href="{% url 'polls:detail' poll.id %}" class="btn btn-primary btn-sm">
                    Go to poll questions
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}